<script type="text/html" id="abbrtm-settings-template">
  <div id="abbrtm-settings" class="contentboxwrap">
    <form id="abitbetterrtmform" autocomplete="off">
      <table>
        <tr>
          <td class="label">
            <label>Tasks count</label>
          </td>
          <td class="field" colspan="2">
            <span class="abbrtm-settings-on">
              <input id="abbrtm_taskscount_on" name="showtaskscount" type="radio" />
              <label for="abbrtm_taskscount_on">On</label>
            </span>
            <span class="abbrtm-settings-off">
              <input id="abbrtm_taskscount_off" name="showtaskscount" type="radio" />
              <label for="abbrtm_taskscount_off">Off</label>
          </span></td>
        </tr>
        <tr>
          <td class="label"><label>Tabs on the left</label></td>
          <td class="field" colspan="2">
            <span>
              <input id="abbrtm_tabsontheleft_on" name="abbrtm_tabsontheleft" type="radio" />
              <label for="abbrtm_tabsontheleft_on">On</label>
            </span>
            <span class="abbrtm-settings-off">
              <input id="abbrtm_tabsontheleft_off" name="abbrtm_tabsontheleft" type="radio" />
              <label for="abbrtm_tabstotheleft_off">Off</label>
            </span>
          </td>
        </tr>
        <tr>
          <td class="label"><label>Display Tabs?</label></td>
          <td class="field" colspan="2">
            <span>
              <input id="abbrtm-display-tabs-on" name="abbrtm-display-tabs" type="radio" />
              <label for="abbrtm-display-tabs-on">On</label>
            </span>
            <span class="abbrtm-settings-off">
              <input id="abbrtm-display-tabs-off" name="abbrtm-display-tabs" type="radio" />
              <label for="abbrtm-display-tabs-off">Off</label>
            </span>
          </td>
        </tr>
        <tr>
          <td class="label"><label>Quick add list</label></td>
          <td class="field" colspan="2">
            <span>
              <input id="abbrtm_quickaddlist_on" name="abbrtm_quickaddlist" type="radio" />
              <label>On</label>
            </span>
            <span class="abbrtm-settings-off">
              <input id="abbrtm_quickaddlist_off" name="abbrtm_quickaddlist" type="radio" />
              <label for="abbrtm_quickaddlist_off">Off</label>
            </span>
          </td>
        </tr>
        <tr>
          <td class="label">
            <label>Unique URL for list/task</label>
          </td>
          <td class="field" colspan="2">
            <span>
              <input id="abbrtm_uniqueurl_on" name="abbrtm_uniqueurl" type="radio" />
              <label>On</label>
            </span>
            <span class="abbrtm-settings-off">
              <input id="abbrtm_uniqueurl_off" name="abbrtm_uniqueurl" type="radio" />
              <label for="abbrtm_uniqueurl_off">Off</label>
            </span>
          </td>
        </tr>
        <tr>
          <td class="hiddenlabel"><label for="settingssubmit">Save Changes</label></td>
          <td class="field" colspan="2">
            <input id="abbrtm_settingssubmit" name="settingssave" type="button" value="Save Changes" />
            <label for="settingscancel" class="s-hidden">Cancel</label>
            <input id="abbrtm_settingscancel" name="settingscancel" type="button" value="Cancel" />
          </td>
        </tr>
      </table>
    </form>
  </div>
</script>
