#abbrtm-settings {
   padding: 12px 25px 21px;
}

#abbrtm-settings label, #abbrtm-settings input {
   font-weight: normal;
}

#abbrtm-settings .s-hidden {
   display: none;
}

#abbrtm-settings table {
   width: 100%;
}

.abbrtm-settings-off {
   padding-left: 9px;
}